<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina Uno</title>
</head>
<body>
    <h1>Página A</h1>
    <p>Esta es la página A</p>

    <a href="/views/indexA.handlebars">
    <button>Ir a A</button>
    </a>

    <a href="/views/indexB.handlebars">
    <button>Ir a B</button>
   
    </a>

    <a href="/views/indexC.handlebars">
    <button>Ir a C</button>
    </a>
    
</body>
</html>